@import '../glob.css';

.cardwrapperheadline{
 position:absolute;
 top:80px;
 display:flex;
 justify-content:center;
 align-items:center;
 height:50px;
 margin:0px;
 padding:0px;
 width:100%;
 z-index:0;

 
}