@import '../../glob.css';

.imegelayout{
  text-align:center;
  width:95%;
  position:relative;
  height:500px;
  margin:5px;

  @media (min-width:280px)  and (max-width: 1090px) {
    height:400px;
    width:90%;
   }
}
