@import '../glob.css' ;

.welcome{
    display:flex;
    justify-content:center;
    align-items: center;
    height:50px;
    background:var(--dblue);
    margin:0px;
    padding:0px;
    z-index:2;
    color:var(--lgray)
}
