.cards-wrapper{
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
    width:100%;
    height:100%;
    padding-top:150px;
    top:150px;
    padding-left:5%;
    overflow: show;
  }
  .card {
    margin:20px;
    width:250px;
    height:400px;
    background-color: #fff;
    overflow: hidden;
    transition: all .2s ease-in-out;
    box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
    
  }
  .card:hover{
    transform: scale(1.05)
 }
  .card-header img {
    width: 100%;
    height: 200px;
    object-fit: cover;
  }
  .card-body {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
    min-height: 200px;
  }
@media (min-width: 300px ) and (max-width: 600px) {
  
  .card{

  }
}

  
