@import '@radix-ui/colors/blackA.css';
@import '@radix-ui/colors/indigo.css';
@import '@radix-ui/colors/mauve.css';
@import '@radix-ui/colors/purple.css';
@import '@radix-ui/colors/violet.css';

/* reset */
.nav_link{
  width:100px;
  text-align:center;
}

.NavigationMenuRoot {
  position:fixed;
  width:100%;
  display: flex;
  justify-content: center;
  background:#dfe0db;
  margin-top:40px;
  overflow:none;
  
}
.NavigationMenuList {
  display: flex;
  justify-content: center;
  background-color: white;
  padding: 4px;
  border-radius: 6px;
  list-style: none;
}
.NavigationMenuLink {
  padding: 8px 12px;
  outline: none;
  user-select: none;
  font-weight: 500;
  line-height: 1;
  border-radius: 4px;
  font-size: 15px;
  color: black;
  display: block;
  text-decoration: none;
  font-size: 15px;
  line-height: 1;
}
.NavigationMenuLink:hover {
  background-color: #e8e9e4;
}
.List {
  display: grid;
  padding: 32px;
  margin: 0;
  column-gap: 10px;
  list-style: none;

}
@media (min-width: 300px ) and (max-width: 600px) {
  .nav_link{
    width:40px;
    font-size:10px;
  }
  .NavigationMenuRoot{
  
  }
 
  .NavigationMenuLink{
   
  }
  .List{

  }
}










