@import '@radix-ui/colors/blackA.css';
@import '@radix-ui/colors/indigo.css';
@import '@radix-ui/colors/mauve.css';
@import '@radix-ui/colors/purple.css';
@import '@radix-ui/colors/violet.css';

/* reset */
.nav_link{
  width:100px;
  text-align:center;
}

.NavigationMenuRoot {
  display: flex;
  justify-content: center;
  background:#e8e9e4;
  margin-top:50px;
}

.NavigationMenuList {
  display: flex;
  justify-content: center;
  background-color: white;
  padding: 4px;
  border-radius: 6px;
  list-style: none;
}

.NavigationMenuLink {
  padding: 8px 12px;
  outline: none;
  user-select: none;
  font-weight: 500;
  line-height: 1;
  border-radius: 4px;
  font-size: 15px;
  color: black;
}
.NavigationMenuLink:focus {
  box-shadow: 0 0 0 2px none;
}
.NavigationMenuLink:hover {
  background-color: #e8e9e4;
}

.NavigationMenuLink {
  display: block;
  text-decoration: none;
  font-size: 15px;
  line-height: 1;
}

.List {
  display: grid;
  padding: 32px;
  margin: 0;
  column-gap: 10px;
  list-style: none;

}










