@import './glob.css';
/* reset */
.nav_link{
  width:100px;
  text-align:center;
  color:var(--dblue)
}
.NavigationMenuRoot {
  width:100%;
  display:flex;
  justify-content: center;
  background:var(--lblue);
  overflow:none;
}
.NavigationMenuList {
  display:flex;
  justify-content: center;
  background-color: white;
  padding: 4px;
  border-radius: 6px;
  list-style: none;
}
.NavigationMenuLink {
  padding: 8px 12px;
  outline: none;
  user-select: none;
  font-weight: 500;
  line-height: 1;
  border-radius: 4px;
  font-size: 15px;
  display: block;
  text-decoration: none;
  font-size: 15px;
  line-height: 1;
}
.NavigationMenuLink:hover {
  background-color: var(--dblue);
  color:var(--lpink)
}
.List {
  display: grid;
  padding: 32px;
  margin: 0;
  column-gap: 10px;
  list-style: none;

}
@media (min-width: 300px ) and (max-width: 600px) {
  .nav_link{
    width:40px;
    font-size:10px;
  }
  .NavigationMenuRoot{
    width:100%;
  
  }
 
  .NavigationMenuLink{
   
  }
  .List{

  }
}










