.gallery-wrapper{
    display: flex;
    overflow: auto;
    width:inherit;
}
.gallery-item{
    display: flex;
    justify-content: center;
    align-items: center;
    fontSize:50px ; 
    width:250px;
    height:250px;
}
.img-list{

}
.extnded-button{

}
.b-list{
 display:flex;
}
.b-lise-i{

}