:root { 
  --main:#F9F7F7;
  --lgray:#DBE2EF;
  --lblue:#3F72AF;
  --dblue:#112D4E;
  --mob:1090px;
  --min:375px;
}

body{
  padding:0px;
  margin:0;
  background:var(--main);
}
 .text-center{
  text-align:center;
}

a{
  text-decoration: none;
}










