:root { 
  --m:#F2FDFF;
  --lpink:#DBCBD8;
  --vio:#564787;
}
body{
  padding:0px;
  margin:0;
  width:100vw;
  height:100vh;
  background:var(--m)
}
 .text-center{
  text-align:center;
 }
 a {
  text-decoration: none;
}








