@import './glob.css';

.headerwrapper{
   width: 100%;
   display: flex;
   flex-direction:column;
   justify-content:center;
   align-items:center;
   background:var(--lblue);
   height:60px;      
 }
 .headerlinkwrapper{
   display:flex;
    height: 20px; 
    align-items:center;
   justify-content:center ;
 }
 .Link-Text{
  outline:none;
  height:40px;
  width:80px;
  border-radius:15px;
  display:flex;
  justify-content:center;
  align-items:center;
  color:var(--lgray);
 }
 .Link-Text:hover {
   color:var(--dblue);
   background:var(--lgray)
 }
 .loginbtn{
  border:none;
  background:var(--lblue);
  outline:none;
  color:var(--lgray);
  position:absolute;
  right:50px
  

 }
 .loginbtn:hover{
   background:var(--lgray);
   color:var(--dblue);
}