@import './glob.css';

.headerwrapper{
   width: 100%;
   display: flex;
   flex-direction:column;
   justify-content:center;
   align-items:flex-start;
   background:var(--lblue);
   height:var(--navheight);
}
.headerlinkwrapper{
   display:flex;
    height:20px; 
    align-items:center;
   justify-content:center;
}
.Link-Text{
  outline:none;
  height:40px;
  width:80px;
  display:flex;
  justify-content:center;
  align-items:center;
  color:var(--lgray);
  margin-left:10px;
}
.Link-Text:hover{
  background:black;
  color:var(--dblue);
  color:#fff;
  transition:ease 1s;
}
.usercontrols{ 
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content:center;
  position:absolute;
  right:10px;
  width:60px;
  height:calc(var(--navheight) - 30px);
  color:var(--dblue);
  cursor:pointer;
  font-size:15px;
  padding:10px; 
  line-height:15px;
  outline:none;
  transition:ease 1s;
  
}
.usercontrols:hover{
  background:black;
  color:#fff;
}
.controls-link{
  display:flex;
  justify-content:center;
  align-items:center;
  height:var(--navheight);
  width:80px;
  height:40px;
  transition:ease 1s;
  cursor:pointer;
}
.controls-link:hover{
  background:black;
  color:var(--dblue);
  color:#fff;
}

@media (min-width:280px) and (max-width: 1090px) {
 .headerwrapper{}
 .headerlinkwrapper{}
 .Link-Text{
  width:30px;
  margin:10px;
  font-size:15px;
 }
 .controls-link{
  width:30px;
 }
 .Link-Text:hover{
  background:none
 }
 .controls-link:hover{
  background:none
 }
.usercontrols{
  position:absolute;
  right:0px;
}

}




