@import './glob.css';

.MainDiv{
    display:flex;
    justify-content:center;
    width:inherit;
    background-color: var(--main);
    @media (max-width:1090px){
      width:99%;
    }
 }
.Section{
    display:flex;
    flex-direction: column;
    width:inherit
}

.PageHeader{
    margin-top: -25px;
    line-height: 55px;
    text-align: center;
    font-size: 34px;
    font-family: Roboto, sans-serif;
    font-weight: bold;
    color:var(--dblue);  
    width:99%;
 @media (max-width: 1090px) {  
      line-height: 45px;
      font-size: 28px;

    }
}  

.Subhade {
    text-align:center;
    margin-top:-50px;
    color:var(--lblue);
    width:100%;
   }

.MainWrapper{
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    width:100%;
    }
.SectionWrapper {
    display: flex;
  @media (max-width: 1090px) {
      flex-direction: column;
      align-items: stretch;
    }
}
.ColumnA{
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: calc(50% - 10px);
    margin-left: 0px;
    padding:5px;
 @media (max-width: 1090px) {
      width: 100%;
    }
}
.ColumnAWrapper{
    display: flex;
    flex-direction: column;
    position: relative;
  }
.DieatelsWrapper{
    display: flex;
    flex-direction: column;
    position: relative;
    margin-top: 0px;
    height: auto;
    border-top: 2px solid var(--dblue);
    border-bottom: 2px solid var(--dblue);
    padding-bottom: 33px;
    padding-top: 33px;
}
.ProdactDieatels {
    display: flex;
    flex-direction: column;
    position: relative;
    margin-top: 0px;
    text-align: left;
    line-height: 23px;
    height: auto;
    color: rgba(0, 0, 0, 1);
    font-family: Roboto, sans-serif;
    font-size: 16px;

    @media (max-width: 640px) {
      font-size: 15px;
      line-height: 22px;
      margin-bottom: 0px;
      margin-top: 20px;
    }
}
.LinkDiv {
    display: flex;
    flex-direction: column;
    position: relative;
    margin-top: 15px;
    text-align: left;
    line-height: 23px;
    height: auto;
    color: rgba(0, 0, 0, 1);
    font-family: Roboto, sans-serif;
    font-size: 16px;
    @media (max-width: 1090px) {
      font-size: 15px;
      line-height: 22px;
      margin-bottom: 0px;
      margin-top: 20px;
    }
}

.ColumnB{
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: calc(50% - 10px);
    margin:5px;
    @media (max-width: 1090px) {
      width: 100%;
    }
}
.IntroWrapper {
    display: flex;
    flex-direction: row;
    position: relative;
  }
 .Intro {
    display: flex;
    flex-direction: column;
    position: relative;
    margin-top: auto;
    text-align: left;
    line-height: 29px;
    height: auto;
    color: rgba(0, 0, 0, 1);
    font-family: Roboto, sans-serif;
    font-size: 21px;
    margin-bottom: auto;
    @media (max-width: 640px) {
      font-size: 21px;
      line-height: 138.4%;
      margin-bottom: 0px;
      margin-top: 20px;
    }
}
.ProdactheadLine {
    display: flex;
    flex-direction: column;
    position: relative;
    margin-top: 7px;
    text-align: left;
    line-height: 138.4%;
    height: auto;
    color: rgba(0, 0, 0, 1);
    font-family: Roboto, sans-serif;
    font-size: 16px;
    @media (max-width: 640px) {
      font-size: 15px;
      line-height: 138.4%;
      margin-bottom: 0px;
      margin-top: 20px;
    }
}
.SubHading {  
    display: flex;
    flex-direction: column;
    position: relative;
    margin-top: 0px;
    height: auto;
    border-top: 2px solid var(--dblue);
    border-bottom: 2px solid var(--dblue);
    padding-bottom: 8px;
    padding-top: 8px;
    text-align: left;
    line-height: 42px;
    color: rgba(0, 0, 0, 1);
    font-family: Roboto, sans-serif;
    font-size: 29px;
    margin-bottom: -15px;
    @media (max-width: 640px) {
      font-size: 27px;
      line-height: 39px;
      margin-bottom: -10px;
      margin-top: 0px;
    }
}
.ArticalBody {
    display: flex;
    flex-direction: column;
    position: relative;
    margin-top: 25px;
    text-align: left;
    line-height: 138.4%;
    height: auto;
    color: rgba(0, 0, 0, 1);
    font-family: Roboto, sans-serif;
    font-size: 16px;
    @media (max-width: 640px) {
      font-size: 15px;
      line-height: 155%;
      margin-bottom: 0px;
      margin-top: 20px;
    }
}
.Button {
    align-self:center;
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items:center;
    position: relative;
    background:var(--lblue);
    color: var(--lgray);
    border-radius: 15px;
    text-align: center;
    cursor: pointer;
    line-height: 35px;
    font-size: 24px;
    font-weight: bold;
    height:50px;
    width:80%;
    @media (max-width: 1090px) {
      
      line-height: 126.4%;
      font-size: 15px;
      letter-spacing: -0.01em;     
    }
}
.Button:hover{
  background:var(--dblue)
}
  